

.row {
  height: 35px;
}

.cell {
  width: 35px;
  height: 35px;
  outline: 1px solid rgb(134, 154, 189);
  display: inline-block;
  border-radius: 50%;
}

.cell-green {
  background-color: red;
}

.cell-red {
  background-color: green;
}

.cell-purple {
  background-color: purple;
}


.hovereffect:hover{
  filter: brightness(150%);
}

.food-image{
  width: 35px;
  height: 35px;
  /* object-fit:cover; */
}


@media only screen and (max-width: 600px) {
  .cell, .food-image{
    width: 20px;
    height: 20px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .cell, .food-image{
    width: 25px;
    height: 25px;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 993px) {
  .cell, .food-image{
    width: 30px;
    height: 30px;
  }
}